body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
} 

a {
	outline: none;
	text-decoration: none;
}

a:active { color: red; }
a:link { color: #3c65ff; }
a:visited: { color: #b75be7; }

ul { list-style: none; }

.header {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #1a1a1a;
	font-weight: 300;
	color: #fff;
}

.header__code-block {
	width: 400px;
	padding: 10px;
	background-color: #2e2e2e;
	border: 1px solid #fff;
}

.header__code-block .red{ color: #b05379; }

.header__code-block .green{ color: #a5c973; }

.header__code-block .blue{ color: #6499bb; }

@keyframes cursorFlickering {
	0% {opacity: 1;}
	1% {opacity: 0;}
	50% {opacity: 0;}
	51% {opacity: 1;}
	100% {opacity: 1;}
}

.header__code-block .cursor {
	line-height: 1.5;
	border: 1px solid #fff;
	margin-left: 35px;
	animation: cursorFlickering 1s infinite ease-in-out;
}

.header__pretitle {
	font-size: 1.5em;
	margin: 0px;
}

.header__pretitle span {
	color: #b05379;
}

.header__author-name {
	font-size: 3.2em;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 0px;
}

.header__subtitle {
	margin-top: 5px;
	margin-bottom: 60px;
}

.header__contact-button-block {
	display: table;
	width: 200px;
	height: 40px;
	background-color: #1a1a1a;
	border: 1px solid #fff;
	border-radius: 5px;
	text-align: center;
	transition: background-color .3s ease-in-out;
}

.header__contact-button-block a:hover {
	background-color: #fff;
	color: #1a1a1a;
}

.header__contact-button-block a {
	display: table-cell;
	font-size: 1.5em;
	color: #fff;
	vertical-align: middle;
}

.section {
	position: relative;
	
}

.section-container {
	overflow-x: hidden;
	overflow-y: hidden;
}

.sidebar {
	position: relative;
	z-index: 10;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.sidebar li {
	padding: 45px 0px;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: #1a1a1a;
	border-bottom: 1px solid #1a1a1a;
	background-color: #fff;
	transition: background-color .5s ease-in-out;
	cursor: pointer;
}

.sidebar li:hover {
	background-color: #1a1a1a;
	color: #fff;
}

.last {
	margin-bottom: -1px;
}

.this {
	color: #e87d3f;
	font-style: italic;
	margin-right: 2px;
}

@keyframes displayFlickering {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

.display-block {
	position: absolute;
	top: 40%;
	left: 30%;
	right: 0px;
	z-index: -5;
	font-size: 50px;
	font-weight: 300;
	animation: displayFlickering 3s infinite ease-in-out;
	transition: top 1s ease-in-out;
}

.display-block img {
	position: relative;
	top: 15px;
	left: 10px;
	width: 70px;
}

.my-works-block, .useful-things-block,
.about-me-block, .about-blog-block, 
.contacts-block {
	position: absolute;
	left: -1400px;
	padding: 35px 0px;
	font-weight: 300;
	transition: left 1.2s ease-in-out;
}

.my-works-block, .useful-things-block,
.about-me-block, .about-blog-block,
.contacts-block p {
	font-size: 19px;
}

.about-me-block {
	height: 100%;
	display: flex;
	align-items: top;
}

.about-me-img-block {
	flex: 2;
	margin-left: -40px;
}

.about-me-text-block {
	flex: 20;
	margin-left: 10px;
}

.my-photo {
	width: 385px;
}

.block-header {
	margin: 10px 0px;
	font-size: 30px;
}

.social {
	position: relative;
	top: 11px;
	width: 35px;
	margin-right: 5px;
}

.slick-left {
	left: 30px;
}

.slick-top {
	top: 120%;
}

.footer {
	background-color: #1a1a1a;
	padding-top: 30px;
	padding-bottom: 20px;
}

.footer-copyright {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}

.footer-socials { text-align: right; }
.footer-socials img {
	position: relative;
	top: -8px;
	height: 35px;
	margin-left: 20px;
}

.hide {
	display: none;
}